body { background-color: #222; }

div { 
    border: 1px solid #222; 
    padding: 20px;
    margin-bottom: 30px;
}

#container { 
    background-color: #fff;
    width: 600px; 
    border: none;
    margin: 0 auto;
    padding: 20px;
}